SHOPAIKEY_API_KEY=your_shopaikey_api_key_here
SHOPAIKEY_BASE_URL=https://direct.shopaikey.com/v1
SHOPAIKEY_FALLBACK_BASE_URL=https://api.shopaikey.com/v1
SHOPAIKEY_IMAGE_MODEL=gpt-image-2
SHOPAIKEY_FALLBACK_IMAGE_MODEL=gpt-image-2
SHOPAIKEY_IMAGE_TIMEOUT_MS=290000
PORT=3001
